@import '../../../App.scss';
@media only screen and (min-width: 0px) {
  #budget-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 15px 10px 15px 10px;
    max-width: 600px;
    margin: 0 auto;
    > * {
      font-size: 2.5vh;
      background: none;
      border: none;
    }
    h1 {
      width: 50%;
    }
    p {
      width: 31%;
    }
    button {
      font-size: 3vh;
    }
    .hBarChart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
    }
    div {
      display: flex;
      width: 50%;
      justify-content: space-between;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 84.375%;
    margin: 0 auto;
    .inputs {
      text-align: left;
      margin-bottom: 1em;
      label,
      input {
        display: inline-block;
        margin: 5px auto;
      }
      label {
        text-align: left;
        width: 30%;
      }
      input {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        padding: 5px;
        width: 70%;
      }
      button {
        background: #e5e5e5;
        border: none;
        box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.3);
        height: 27px;
        width: 20%;
        padding: 5px 0;
      }
    }
    .options,
    .hidden {
      display: flex;
      flex-wrap: wrap;
      max-width: 300px;
      height: 100%;
      opacity: 1;
      justify-content: center;
      transition: 0.35s all;
      button {
        border: none;
        border-radius: 0;
        cursor: pointer;
        height: 45px;
        width: 45px;
        margin: 0;
      }
    }
    .hidden {
      opacity: 0;
      height: 0;
      button {
        display: none;
      }
    }
    .current-color {
      height: 45px;
      width: 45px;
      margin: 1em auto;
    }
    .submit-button {
      border-radius: 3px;
      border: none;
      color: $white;
      padding: 10px;
      font-weight: 400;
      background: $secondary-color;
      margin-top: 1.5em;
      width: 100%;
    }
    .delete-item {
      background: $red;
      margin: 0;
    }
  }
}
@media only screen and (min-width: 768px) {
  #budget-item {
    > * {
      font-size: 2vh;
    }
  }
  form {
    .inputs {
      label,
      input {
        font-size: 2vh;
      }
    }
    .options,
    .hidden {
      display: flex;
      flex-wrap: wrap;
      max-width: 300px;
      height: 100%;
      opacity: 1;
      justify-content: center;
      transition: 0.35s all;
      button {
        border: none;
        border-radius: 0;
        cursor: pointer;
        height: 45px;
        width: 45px;
        margin: 0;
      }
    }
    .hidden {
      opacity: 0;
      height: 0;
      button {
        display: none;
      }
    }
    .current-color {
      height: 45px;
      width: 45px;
      margin: 1em auto;
    }
    .submit-button {
      border-radius: 3px;
      border: none;
      color: $white;
      padding: 10px;
      font-weight: 400;
      background: $secondary-color;
      margin-top: 1.5em;
      width: 50%;
    }
    .delete-item {
      margin: 0;
      width: 50%;
    }
  }
}
