#budget-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid;
  padding: 10px;
}
#budget-item:last-child {
  border-bottom: 1px solid;
}
.options {
  display: flex;

  button {
    height: 50px;
    width: 50px;
  }
}
