#budget-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid;
  padding: 10px;
  h1,
  p {
    width: 30%;
  }
}
#budget-item:last-child {
  border-bottom: 1px solid;
}
.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  button {
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
}
