@media only screen and (min-width: 0px) {
  header {
    background: #3e5ba2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: relative;
    div {
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      h1 {
        padding-left: 10px;
      }
      nav {
        background: #3e5ba2;
        position: absolute;
        max-height: 0;
        top: 70px;
        width: 100%;
        transition: 0.35s all ease-in-out;
        overflow: hidden;
        z-index: 9999;
        .controls {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          a {
            padding: 10px;
          }
        }
      }
      .menu {
        background: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1.5em;
        width: 15%;
      }
      .show {
        max-height: 100vh;
      }
      a,
      button {
        color: #fff;
        cursor: pointer;
      }
      .active {
        color: #6ca23e;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  header {
    font-size: 2vh;
    div {
      nav {
        .controls {
          font-size: 2vh;
        }
      }
    }
  }
}
