@import '../../App.scss';
@media only screen and (min-width: 0px) {
  .login-signup-container {
    background: $primary-color;
    color: $white;
    min-height: 100vh;
    width: 100%;
    .login-form,
    .signup-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      > * {
        width: 100%;
      }
      a {
        color: $white;
        text-decoration: underline;
      }
      .active {
        color: $secondary-color;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .login-signup-container {
    .login-form,
    .signup-form {
      max-width: 400px;
    }
  }
}
