//--------------- Variables
// Colors
$primary-color: hsla(223, 45%, 44%, 1);
$secondary-color: hsla(92, 45%, 44%, 1);
$overlay: rgba(0, 0, 0, 0.5);
$white: #fff;
$red: hsla(360, 71%, 50%, 1);
$blue-grey: #3b59a426;

// @mixin colors($max-count, $color-frequency) {
//   $color: 360/$max-count;

//   @for $i from 1 through $max-count {
//     &:nth-child(#{$max-count}n + #{$i}) {
//       background: hsla(($i - 1)*($color / $color-frequency), 80%, 60%, 1)
//     }
//   }
// }

.App {
  // @include colors(50, 1);
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
